<ion-header class="app-header-tab3">
  <div class="header-text-container">
    <h1 class="header-text-title">My Pending</h1>
    <h5 class="header-text-subtitle">Tasks</h5>
  </div>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="tasks-container">
    <div class="task" *ngFor="let task of todos">
      <div class="info-container">
        <ion-icon class="pending-icon" name="time"></ion-icon>
        <div class="text-container">
          <h6 class="task-title">{{task.title}}</h6>
          <p class="priority">Priority: {{task.prioridad | titlecase}}</p>
        </div>
      </div>
      <div class="actions-container">
        <ion-icon class="edit-icon" name="create-outline"></ion-icon>
        <ion-icon class="delete-icon" name="trash-outline"></ion-icon>
      </div>
    </div>
    <div class="task">
      <div class="info-container">
        <ion-icon class="pending-icon" name="time"></ion-icon>
        <div class="text-container">
          <h6 class="task-title">Ir de viaje</h6>
          <p class="priority">Priority: Media</p>
        </div>
      </div>
      <div class="actions-container">
        <ion-icon class="edit-icon" name="create-outline"></ion-icon>
        <ion-icon class="delete-icon" name="trash-outline"></ion-icon>
      </div>
    </div>
    <div class="task">
      <div class="info-container">
        <ion-icon class="pending-icon" name="time"></ion-icon>
        <div class="text-container">
          <h6 class="task-title">Leer</h6>
          <p class="priority">Priority: Baja</p>
        </div>
      </div>
      <div class="actions-container">
        <ion-icon class="edit-icon" name="create-outline"></ion-icon>
        <ion-icon class="delete-icon" name="trash-outline"></ion-icon>
      </div>
    </div>
  </div>
</ion-content>
